#root {
  margin: 0 auto;
  text-align: center;
  margin-top: -30%;
}

h1 {
  font-family: 'Press Start 2P';
}

.credits {
  color: black;
}

.description {
  margin: 0 auto;
  width: 50%;
}

button {
  margin-bottom: 20px;
}